.bar-gallons-chip {
  justify-content: left;
  border-radius: 12px !important;
  padding: 0.45rem 0.75rem !important;
  height: fit-content !important;
  width: fit-content !important;
  font-family: "Source Sans Pro", Helvetica, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  font-size: 1rem !important;
  letter-spacing: 0.05em !important;
  gap: 0.75rem;
}

.bar-gallons-chip-avatar {
  width: fit-content !important;
  padding-right: 8px;
  padding-left: 6px;
  margin-left: 0 !important;
  font-size: 1.05rem !important;
  font-style: italic;
  font-weight: 700 !important;
  border-radius: 6px !important;
  letter-spacing: 0.005em;
  background-color: transparent !important;
}

.bar-gallons-chip-avatar-icon {
  font-size: 1.5rem;
}

.bar-gallons-chip-avatar-text {
  position: absolute;
  top: 12px;
  right: 5%;
  font-size: 0.65rem;
  width: 11.2px;
  padding: 0.1rem !important;
}

.bar-gallons-chip .MuiChip-label,
.bar-gallons-chip .MuiChip-avatar {
  padding: 0 !important;
}

.action-container .MuiDivider-vertical {
  margin-right: 0;
}

.bar-chip {
  opacity: 0.8;
}
