.season-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem !important;
  margin-top: 5px;
}

.zone-season-name.season {
  margin-left: 1rem !important;
}

.zone-season-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  gap: 0.4rem;
  background: #eef2f6;
  padding: 4px 8px;
  border-radius: 8px;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  display: flex;
  color: #777;
}

.back-to-zones-link {
  margin-left: 0.5rem;
}

.btn-plantbar {
  font-size: 0.85rem !important;
  margin: 0.25rem 0.25rem 0 0.25rem !important;
  padding: 0.3rem 0.55rem !important;
  height: fit-content !important;
  border-radius: 10px !important;
  background-color: #eef2f6 !important;
  color: #8b8b8b !important;
  text-transform: capitalize !important;
}

.btn-plantbar:hover {
  color: #02c0a0 !important;
  background-color: #02c0a014 !important;
}

.btn-icon {
  margin-right: 0.25rem;
}

.btn-text {
  font-size: 0.85rem !important;
  transform: translateY(1px);
}
