.plant-name {
  text-transform: capitalize;
}

.data-grid {
  border-radius: 10px !important;
  padding: 5px !important;
  margin: 0 !important;
  background-color: #ffff;
}

.action-btn-group {
  min-width: 20px !important;
}

.action-btn-group,
.action-btn {
  border: none !important;
  padding: 0 !important;
  min-width: 15px !important;
}

.action-btn,
.action-btn-icon {
  padding: 0 !important;
}

.action-btn {
  font-size: 1rem !important;
  margin-left: 0.5rem !important;
  border-radius: 5px !important;
  width: 25px !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  box-shadow: none !important;
}

@media screen and (max-width: 810px) {
  .action-btn {
    margin-left: 0.05rem !important;
  }
}
