
.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  display: flex;
  color: #777;
}

@media screen and (max-width: 975px) {
  .btn-plantbar {
    padding: .5rem !important;
  }
  .btn-plantbar-text {
    display: none;
  }
  .btn-icon {
    font-size: 1.15rem;
  }
}
