.plant-name-wrapper {
  position: absolute;
  top: 120px;
}

.plant-name-text {
  color: white;
  text-shadow: 1px 2px 5px #000000;
}

.card-data-container.zone-container {
  border: 1px #dad9d9 solid;
  background: none !important;
}

.card-data-container.zone-container .data-set span {
  margin: 0 0 0 5px;
}

.card-data-container:has(.data-set) {
  display: flex;
  text-transform: capitalize;
  justify-content: space-evenly;
  border: 1px #dad9d9 solid;
}

.data-set {
  padding: 0 8px;
}

.data-set-divider {
  padding: 0 8px;
}

.split-container {
  display: flex;
  gap: 1rem;
}

.split-label {
  display: flex;
  gap: 0.25rem;
}

.card-data.flex {
  margin-left: 0 !important;
  display: flex !important;
  margin: 0.5rem 0 !important;
}

.card-data.flex .card-item-icon {
  font-size: 1rem;
}

.card-data.flex span {
  padding: 0 !important;
  font-weight: 100 !important;
  margin-left: 10px;
  font-size: 0.8rem;
}

.card-data.flex span.bold {
  font-weight: 700 !important;
}

.icon-float-container {
  position: relative !important;
}

.icon-float {
  position: absolute !important;
  top: 8px;
  left: 4px;
  font-size: 0.5rem;
  z-index: 9 !important;
  color: white;
}

.btn-plantbar {
  font-size: 0.85rem !important;
  margin: 0.25rem 0.25rem 0 0.25rem !important;
  padding: 0.45rem 0.25rem !important;
  height: fit-content !important;
  border-radius: 10px !important;
  background-color: #eef2f6 !important;
  color: #8b8b8b !important;
}

.btn-plantbar:hover {
  color: #02c0a0 !important;
  background-color: #02c0a014 !important;
}

.btn-icon {
  margin-right: 0.25rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 50px;
  position: relative;
}

.modal-box {
  border: none !important;
  border-radius: 15px;
}

.input {
  width: 100%;
  margin-top: 0.5rem !important;
}

.submit-btn {
  width: 100%;
  background-color: #002b49 !important;
  color: #ffff !important;
  margin-top: 2rem !important;
}

.submit-btn:hover {
  background-color: #01497c !important;
}

.error-text {
  color: red !important;
}

.gallons-chip {
  width: 100% !important;
}

.gallons-chip-plant-card {
  background-color: #02c0a01f !important;
}

.gallons-chip-avatar.plant-card {
  background-color: #0000002b !important;
}

.view-plant-edit-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}
