.split-container {
  display: flex;
  gap: 1rem;
}

.add-btn {
  margin: 1.5rem 0 0 1.5rem !important;
  height: 335px !important;
  width: 300px !important;
  border-radius: 15px !important;
  background-color: #ffff !important;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}

.add-btn:hover {
  opacity: 0.75;
}

.add-plus-icon {
  color: #002b49;
  opacity: 0.2;
  font-size: 3rem !important;
}

.modal-box {
  border: none !important;
  border-radius: 15px;
}

.input {
  width: 100%;
}

.submit-btn {
  width: 100%;
  background-color: #002b49 !important;
  color: #ffff !important;
  margin-top: 2rem !important;
}

.submit-btn:hover {
  background-color: #01497c !important;
}

.error-text {
  color: red !important;
}
