.split-container {
  display: flex;
  gap: 1rem;
}

.add-btn {
  position: relative;
  margin: 1rem 0 0 1rem !important;
  height: 194px !important;
  width: 300px !important;
  border-radius: 15px !important;
  background-color: #ffff !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

.add-btn:hover {
  opacity: 0.75;
  transition: all 0.5s;
}

.add-plus-icon {
  opacity: 0.2;
  color: #002b49;
  font-size: 3rem !important;
}

.modal-box {
  border: none !important;
  border-radius: 10px;
}

.input {
  width: 100%;
}

.error-text {
  color: red !important;
}
