#zone-card-container {
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  border-radius: 15px;
  padding: 10px;
  width: 300px;
}

.card-name.zone {
  position: absolute;
  top: 35%;
  /* color: white; */
  text-align: center;
  text-shadow: 1px 2px 5px #000000a8;
  width: 280px;
  margin-left: 0 !important;
}

.card-img-zone {
  position: relative;
}

.card-img-zone,
#card-img-overlay {
  height: 140px !important;
  border-radius: 10px 10px 0 0;
}

.card-img-zone #card-img-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: rgb(0, 0, 0); */
  /* opacity: 0.45; */
}

#zone-card-container:hover .card-img-zone #card-img-overlay {
  opacity: 0.3;
  transition: all 0.5s;
}

.card-data-container.zone {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 49%;
  width: 279px;
  background-color: #0000005c;
}

.card-data.zone {
  font-size: 0.75rem !important;
  color: #ffff !important;
  margin: 0 0.25rem !important;
}

.card-data span:nth-child(1) {
  font-size: inherit !important;
}

#total-gallons-stack {
  justify-content: space-between;
  max-width: 100%;
  flex-wrap: nowrap;
  border-radius: 0 0 10px 10px;
  /* opacity: 0.9; */
  margin-top: 2px;
}

.action-icon {
  transform: scale(0.8);
}

.zone-card-action-button {
  font-size: 1.5rem !important;
  width: 100% !important;
  min-width: 50px !important;
  padding: 0 !important;
}

.zone-card-action-button:hover {
  /* background-color: #ffffffe8 !important; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transform: scale(1.15);
  z-index: 10;
  transition: all 0.3s;
}

.card-content-wrapper.zone-content {
  /* background-color: #59bab121; */
  padding: 0 !important;
}

#zone-card-details {
  width: 3.75rem !important;
}

#zone-card-details .action-icon {
  font-size: 1.5rem !important;
}

#zone-card-delete .action-icon {
  font-size: 1.25rem !important;
}

#simple-popover > div.MuiPaper-root.MuiPaper-elevation {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

#simple-popover span {
  margin-bottom: 1rem;
}

#simple-popover button {
  width: 100px;
  padding: 0.5rem;
  border: 1px solid;
}

#simple-popover button:hover {
  background-color: #59bab1;
  color: aliceblue;
}

.chip {
  position: absolute;
  top: 5px;
  left: 20px;
}

#card-action-container {
  height: 48px;
  width: 93%;
  position: absolute;
  top: 105px;
}
