.season-btn {
  height: 50px;
  border: none !important;
  box-shadow: "none";
  height: 40px;
  width: 150px;
  margin: 0.25rem 0.25rem 0 0.25rem !important;
  border-radius: 12px !important;
}

.season-btn .menu-text,
.season-btn .MuiSvgIcon-root,
.season-btn .menuIcon {
  transition: 220ms all ease-in-out !important;
}

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

&.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none;
  border-radius: 5px 5px 0 0;
}

.menu-wrapper {
  display: flex;
  margin-left: 0.25rem;
}

.menuIcon {
  transform: scale(1.5);
}

svg.menuIcon {
  height: 1.5em;
  margin-right: 0.75rem;
}

.menuIcon.iconRotate {
  transform: rotate(-45deg) scale(1.5);
}
