.season-btn {
  background-color: #eef2f6;
  height: 50px;
  border: none !important;
}

.season-btn .menu-text,
.season-btn .MuiSvgIcon-root,
.season-btn .menuIcon {
  transition: 220ms all ease-in-out !important;
}

.season-btn:hover {
  background-color: #02c0a014 !important;
  color: #02c0a0 !important;
}

.season-btn:hover .menu-text,
.season-btn:hover .MuiSvgIcon-root,
.season-btn:hover .menuIcon {
  color: #02c0a0;
}

.menu-wrapper {
  display: flex;
}

.menu-text {
  color: #777;
}

.menuIcon {
  color: #8b8b8b;
  transform: scale(1.5);
}

svg.menuIcon {
  height: 1.5em;
  margin-right: 0.75rem;
}

.menuIcon.iconRotate {
  transform: rotate(-45deg) scale(1.5);
}

/* .MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  display: flex;
  color: #777;
} */
