.addBtn {
    margin: 1.5rem 0 0 1.5rem !important;
    height: 350px !important;
    width: 300px !important;
    border-radius: 15px !important;
    background-color: #ffff !important;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px !important;
}

.addBtn:hover {
    opacity: 0.75;
}

.addPlusIcon {
    color: #002b49;
    opacity: 0.20;
    font-size: 3rem !important;
}

.modalBox {
    border: none !important;
    border-radius: 15px;
}