.card-img {
  position: relative;
}

.card-img::before {
  content: "";
  position: absolute;
  min-height: 140px !important;
  width: 100% !important;
  border-radius: 10px 10px 0 0;
  background-color: #002b49;
  opacity: 0.25;
}

.iconStyle {
  background: #ffffff;
  border-radius: 50%;
  font-size: 1.25rem;
  padding: 0.1rem;
}

.iconStyleFA {
  font-size: 0.95rem !important;
}

.rotateIcon {
  transform: rotate(-45deg);
}

.chip {
  margin: 1rem 0 1rem -0.1rem;
  font-size: 0.75rem;
  color: #ffff !important;
  border: 1px #ffffff85 solid !important;
}

.action-icon {
  transform: scale(0.8);
}

.zone-name {
  color: #666666;
  font-weight: 700 !important;
  font-family: "Outfit", sans-serif !important;
}

.card-data-container {
  width: 100%;
  margin-bottom: 1rem;
}

.card-data {
  display: flex;
  font-size: 1rem !important;
  color: #33333386 !important;
  margin-bottom: 2px !important;
  color: #8d8d8d !important;
  border-radius: 5px;
}

.card-data span:nth-child(1) {
  font-size: 0.9rem;
  font-weight: 500;
}

.card-data span:nth-child(2) {
  padding-left: 0.5rem !important;
  font-weight: 200;
}

.card-btn {
  width: 100% !important;
  min-width: 50px !important;
  background-color: #ffffffa8 !important;
  color: #002b49 !important;
  border-radius: 20px !important;
}

.card-btn:hover {
  background-color: #ffffffe8 !important;
}

.hidden {
  display: none !important;
}
