.main-container {
  z-index: 999;
}

.season-btn:hover {
  background: rgb(235, 235, 235) !important;
}

.menuText {
  width: 0;
  color: #777;
}

.menuIcon {
  color: silver;
  transform: scale(1);
  margin-right: 0.5rem;
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  display: flex;
  color: #777;
}
