.split-container {
  display: flex;
  gap: 1rem;
}

.add-btn-plant {
  margin: 0.25rem 0.25rem 0 0.25rem !important;
  padding: 0 !important;
  height: fit-content !important;
  width: 50px !important;
  border-radius: 10px !important;
  background-color: transparent !important;
  color: #8b8b8b !important;
}

.add-btn-plant:hover {
  color: #02c0a0 !important;
  background-color: #02c0a014 !important;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 50px;
  position: relative;
}

.grass-icon {
  font-size: 2rem !important;
}

.add-plant-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px !important;
  height: 15px !important;
  background-color: #ffffff !important;
  border-radius: 50%;
  position: absolute;
  right: 9px;
  bottom: 3px;
  padding: 0 !important;
  margin: 0 !important;
}

.add-plant-icon {
  width: fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
  margin: 0 !important;
  transform: translateX(0.2px);
}

.modal-box {
  border: none !important;
  border-radius: 15px;
}

.modal-title {
  color: #666666;
  font-weight: 700 !important;
  font-family: "Outfit", sans-serif !important;
}

.input {
  width: 100%;
  margin-top: 0.5rem !important;
}

.submit-btn {
  width: 100%;
  background-color: #002b49 !important;
  color: #ffff !important;
  margin-top: 2rem !important;
}

.submit-btn:hover {
  background-color: #01497c !important;
}

.error-text {
  color: red !important;
}
