.action-btn-group {
  min-width: 20px !important;
}
.action-btn-group,
.action-btn {
    border: none !important;
    padding: 0 !important;
    min-width: 15px !important;
    /* background-color: yellow !important; */
}

.action-btn,
.action-btn-icon {
  padding: 0 !important;
}

.action-btn {
    font-size: 1rem !important;
    padding-right: 1rem !important;
}
