.plant-name {
  text-transform: capitalize;
}

.data-grid {
  border-radius: 10px !important;
  padding: 5px !important;
  margin: 0 !important;
  width: 100%;
}

/* Grid cells */
.data-grid .MuiDataGrid-cell {
  border: none !important;
}

/* Grid Header - Toolbar */
.data-grid .MuiDataGrid-toolbarContainer {
  padding: 0 4px;
}
.MuiDataGrid-container--top [role="row"] {
  border-radius: 10px 10px 0 0;
}

/* Grid Footer - Pagination */
.MuiToolbar-root.MuiTablePagination-toolbar {
  border-radius: 0 0 10px 10px;
}
.MuiDataGrid-selectedRowCount {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
}

.MuiDataGrid-cell[data-field="galsPerWkCalc"],
.MuiDataGrid-cell[data-field="name"] {
  background-color: #dae4e473;
  color: #49aa9a;
}

.plant-image-wrapper {
  display: flex;
  height: 100%;
}

.plant-image {
  display: flex;
  align-items: center;
  width: 60px;
  height: 35px;
  object-fit: cover;
  border-radius: 5px;
  align-self: center;
}

/* Image Overlay */
.MuiDataGrid-cell.MuiDataGrid-cell--textCenter[data-field="imagePath"] {
  position: relative;
}
.plant-image-wrapper::after {
  content: "";
  width: 60px;
  height: 36px;
  background: #64c9bf45;
  position: absolute;
  top: 8px;
  left: 10px;
  border-radius: 5px;
}

.action-btn-group {
  min-width: 20px !important;
}

.action-btn-group,
.action-btn {
  border: none !important;
  padding: 0 !important;
  min-width: 15px !important;
}

.action-btn,
.action-btn-icon {
  padding: 0 !important;
}

.action-btn {
  font-size: 1rem !important;
  margin-left: 0.5rem !important;
  border-radius: 5px !important;
  width: 25px !important;
}

/* PlantList confirm delete button box */
& .MuiPopover-paper {
  background: none !important;
}
#simple-popover .MuiPopover-paper {
  box-shadow: none !important;
  background-image: none !important;
}
#simple-popover .MuiPopover-paper button {
  /* border: 1px solid #7fb5ac; */
  border-radius: 12px;
  text-transform: capitalize;
}

.lazy-load-image-background {
  height: 35px;
  display: flex;
  align-self: center;
}

svg[data-testid="SearchIcon"],
input[placeholder="Search…"] {
  color: #59bab1;
}

/* .MuiInput-underline:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: 2px solid #59bab1 !important;
} */

@media screen and (max-width: 810px) {
  .action-btn {
    margin-left: 0.05rem !important;
  }
}
