div.main-container {
  position: sticky;
  top: 60px;
  background-color: #ffffff;
  color: #8b8b8b;
  width: 100%;
  height: 55px;
  padding: 0;
  box-shadow: none;
  border-bottom: none;
  box-shadow: none;
  z-index: 1;
}

.content-container {
  display: flex;
  justify-content: left;
  height: 100%;
  align-items: center;
}

.bar-title {
  margin-right: 1rem !important;
  font-family: monospace !important;
  font-weight: 700 !important;
  letter-spacing: 0.1rem !important;
  color: inherit !important;
  margin-top: 0.3rem !important;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.season-btn:hover {
  background: rgb(235, 235, 235) !important;
}

.season-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem !important;
  margin-top: 0.2rem;
}

.zone-name-text {
  color: #777;
  font-size: 2rem;
  align-self: center;
}

#season-name {
  background-color: #eef2f6;
  font-size: 0.75rem;
  padding: 0.15rem 0.5rem;
  border-radius: 5px;
  margin-left: 0.75rem;
}

.season-icon {
  color: silver;
  margin-right: 0.75rem;
}

svg.seaons-icon {
  height: 1.5em;
  margin-right: 0.75rem;
}

.seaons-icon.iconRotate {
  transform: rotate(-45deg) scale(1.5);
}

.MuiSelect-select.MuiSelect-outlined.MuiInputBase-input {
  display: flex;
  color: #777;
}

.add-plant-btn {
  margin-top: 0.25rem !important;
  font-size: 13px !important;
  padding: 0.5rem 1rem !important;
}
